$primary: #76ff03;
$dark: #1c2331;
$secondary: #fd7e14;
$font-family-base: "Ubuntu Mono", monospace;

body {
  color: $primary;
  font-family: $font-family-base;
  background-color: $dark;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}
