.html-color {
    background-color: #e34c26 !important;
}
.css-color {
    background-color: #1572b6 !important;
}
.javascript-color {
    background-color: #f0db4f !important;
    color: $dark !important;
}
.bootstrap-color {
    background-color: #602c50 !important;
}
.sass-color {
    background-color: #cd6799 !important;
}
.git-color {
    background-color: #bd2c00 !important;
}
.reactjs-color {
    background-color: #61dbfb !important;
    color: $dark !important;
}
.nodejs-color {
    background-color: #68a063 !important;
}
.mongodb-color {
    background-color: #4db33d !important;
}
.mysql-color {
    background-color: #00758f !important;
}
.redhat-color {
    background-color: #cc0000 !important;
}
.ubuntu-color {
    background-color: #dd4814 !important;
}
.docker-color {
    background-color: #0db7ed !important;
}
.typescript-color {
    background-color: #007acc !important;
}
